/* .todo{
   
} */


.fondo{
    /* border: solid black 2px; */
    background-color: #81c3eb;
    width: 100%;
    height:35vmin;
    display: flex;
   justify-content: flex-end;
    flex-direction: column;
}

.Titulo{
    font-size: 10vmin;
    font-style: oblique;
}
.titulo{
    font-size: 10vmin;
    font-style: inherit;
}



.esp1{
    width: 100%;
    height: 35vmin;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;

}

.img1{
    display:inline-block;
    margin-bottom: 35.5vmin;
}



.btns{
    display: flex;
    justify-content: space-around;
    
    
}

.btn1{
   width:60vmin;
}
.btn2{
    width: 60vmin;
}


.esp2{
    /* border: solid 2px; */
    width: 100%;
    height: 10vmin;
}


.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.nombre{
    background-color: #85E7FE;
    color:#595959 ;
    width: 90vmin;
    
}
.apellidos{
    background-color: #85E7FE;
    color: #595959;
    width: 90vmin;
   
}


.esp3{
    width: 100%;
    height: 5vmin;
}



.TFN{
    color: #595959;
    font-size: medium;
}
.fechaN{
    display: flex;
    flex-direction: row;
}

.dia{
    background-color:  #85E7FE;
}
.mes{
    background-color:  #85E7FE;
}
.ano{
    background-color:  #85E7FE;
}


.esp4{
    width: 100%;
    height: 5vmin;
}


.rfc{
    background-color: #85E7FE;
    color: #595959;
    width: 185vh;
}


.esp5{
    width: 100%;
    height: 5vmin;
}


/* .SyD{
    display: flex;
    flex-direction: row;
} */

.sexo{
    background-color: #85E7FE;
    color: #595959;
}

.esp6{
    width: 100%;
    height: 5vmin;
}


.dom{
    background-color: #85E7FE;
    color: #595959;
}


.esp7{
    width: 100%;
    height: 7vmin;
}


.Antecedentes{
    display: flex;
    flex-direction: column;
   align-items: center;
   
}

.Ant{
    color: white ;
    font-size: x-large;
    background-color: #004471;
    border: solid #004471 2vmin;
}

.her{
   font-size: 3vmin;
    color: #595959;
}

.hert{
    background-color:#85E7FE ;
    width: 70vmax;
}

.pat{
    color: white ;
    font-size: x-large;
    background-color: #004471;
    border: solid #004471 1vmin;
}

.patologicos1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.espA{
    width: 13vh;
    height: 2vh;
}

.espT{
    width: 15vh;
    height: 2vh;
    color: white;
}


.espAl{
    width: 100%;
    height: 7vh;
}

.alergias{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}
.polvo{
    background-color: #7F60DB;
    border-radius: 1vh;
    border: solid #fffefe;
    color: white;
}
.lacteos{
    background-color: #7F60DB;
    border-radius:1vh;
    border: solid #fffefe;
    color: white;

}

.polen{
    background-color: #7F60DB;
    border-radius: 1vh;
    border: solid #fffefe;
    color: white;
}
.mariscos{
    background-color: #7F60DB;
    border-radius: 1vh;
    border: solid #fffefe;
    color: white;
}
.frio{
    background-color: #7F60DB;
    border-radius: 1vh;
    border: solid #fffefe;
    color: white;
}
.gluten{
    background-color: #7F60DB;
    border-radius: 1vh;
    border: solid #fffefe;
    color: white;
}
.otro{
    background-color: #7F60DB;
    border-radius: 1vh;
    border: solid #fffefe;
    color: white;
}
.alR{
    background-color: #7F60DB ;
    color: white;
}

.patologicos2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #595959;
}

.opR{
    background-color: #7F60DB ;
    color: white;
  
}

.fr{
    background-color: #7F60DB ;
    color: white;
}

.ec{
    background-color: #7F60DB ;
    color: white;
}


.esp85{
    width: 100%;
    height: 10vmin;
}

.ex{
    font-size: 3vmin;
    color: #595959;
}
.ex1{
    background-color:#85E7FE ;
    width: 60vmax;
}

.con{
    font-size: 3vmin;
    color: #595959;
}
.con1{
    background-color:#85E7FE ;
    width: 60vmax;
}


.esp8{
    width: 100%;
    height: 10vmin;
}

.actF{
    color:white ;
    font-size: x-large;
    background-color: #004471;
    border: solid #004471 2vmin;
}

.preg1{
    background-color: #85E7FE;
    color:#595959 ;
    width: 90vmin;
}
.preg2{
    background-color: #85E7FE;
    color:#595959 ;
    width: 90vmin;
}


.esp9{
    width: 100%;
    height: 15vmin;
}

.fin{
    display: flex;
    flex-direction: column;
    align-items: center;
}